<head>
  <title>学习HTML</title>
</head>
  
<body>
  
  <div id="header ">
    <h1>ロードス島戦記</h1>
  </div>
  <hr/>
  <h2>罗德岛战记专辑</h2>
  <p>
        由于一个错误，魔王被召唤了出来，世界被黑暗包围，人们绝望的死去。
      为了对抗黑暗，希望之光也在聚集。七个英雄来到了迷宫，光明战胜了黑暗。
      活下来的六个人成为了挽救世界的英雄。他们是手握神剑的瓦利斯王白银骑士
      法恩；拥有魔剑碎魂的暗黑皇帝，赤发佣兵贝鲁特；掌握所有魔法知识的荒野贤者
      沃特；守护大地纯洁的玛法神官妮丝；失落的石之国国王，矮人弗雷贝；最后一个
      是没留下姓名的魔法使者。
  </p>
  <p>
    然而，罗德岛的动荡局面并没有从此结束，三十年后。。。
  </p>
  <a href="https://baike.baidu.com/item/%E7%BD%97%E5%BE%B7%E5%B2%9B%E6%88%98%E8%AE%B0/84494?fr=aladdin">
    具体介绍请看百度百科</a><br/>
    <iframe src="http://www.baidu.com" width="800" height="200"></iframe>
    <p>如果不显示百度百科请百度</p>
  <h3>想看专辑需要先登录</h3>
<div class="login">
  <form>
    账户：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="提交" onclick="show()" />
  </form>
</div>
<hr>
<br>
<img src="D://rodosu.jpg" />
</body>